<div style="font-family: -webkit-pictograph;">
<h2>{{ date }} {{ product_name }} 投资建议书</h2>
<br/>
<p>您好：</p>
<div>附件为最新的投资建议书，请查阅。</div>
<br/>
<div style="font-size:12px;color:#656262">该邮件不支持回复</div>
<br/>
</div>